* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

section {
    height: 100vh;
    border: 2px solid #131212;
}

.box {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform-origin: center;
    animation-name: rotate;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

.animate {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

.front {
    background: red;
    animation-name: moveFront;
    transform-style: preserve-3d;
}

.front::after {
    content: "";
    background: inherit;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateZ(-1px);
}

.back {
    background: blue;
    animation-name: moveBack;
    transform-style: preserve-3d;
}

.back::after {
    content: "";
    background: inherit;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateZ(-1px);
}

@keyframes moveBack {
    0% {
        transform: rotate(0deg) translateZ(20px);
    }
    100% {
        transform: rotate(360deg) translateZ(20px);
    }
}

@keyframes moveFront {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}